<ion-header>
    <ion-toolbar>
        <ion-title>Configurações</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="fixed">IP</ion-label>
        <ion-input placeholder="192.168.1.123" [(ngModel)]="config.ip"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="fixed">Porto</ion-label>
        <ion-input placeholder="1234" type="number" [(ngModel)]="config.port"></ion-input>
    </ion-item>

    <ion-list class="ion-padding">
        <ion-label color="danger" size="small">{{ errorMessage }}</ion-label>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button expand="full" color="success" (click)="saveConfig()">Gravar</ion-button>
        <ion-button expand="full" color="dark" (click)="goBack()">Cancel</ion-button>
    </ion-toolbar>
</ion-footer>
