<ng-container *ngIf="utils.currentOrder">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start" class="ion-padding-start">
                <ion-button fill="outline" color="dark" (click)="navBack()">
                    <ion-icon slot="start" name="arrow-back"></ion-icon>
                    Voltar
                </ion-button>
            </ion-buttons>
            <ion-title>
                {{ utils.currentOrder.name }}
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-toolbar>
            <ion-segment scrollable color="primary" (ionChange)="segmentChanged($event)"
                         [value]="utils.menuTypes[0].name">
                <ion-segment-button *ngFor="let tab of utils.menuTypes" value="{{tab.name}}">
                    <span *ngIf="tab.icon" class="mdi mdi-{{tab.icon}}"></span>
                    {{tab.name}}
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>

        <app-product-item [item]="item" *ngFor="let item of menuActive"></app-product-item>
    </ion-content>

    <ion-footer>
        <ion-toolbar>
            <ion-button expand="full" color="success" (click)="sendOrder()">Enviar Pedido</ion-button>
        </ion-toolbar>
    </ion-footer>
</ng-container>

